.game-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}



.fear {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgb(44, 199, 30)0, 73, 73);
  border-radius: 10px;
  cursor: pointer;
  opacity: 0; /* Изначально делаем страх невидимым */
  transition: opacity 0.3s ease-in-out;
  font-family: 'Noto Emoji', sans-serif; /* Пример шрифта, поддерживающего эмодзи */

}

.fear.visible {
  opacity: 1; /* При добавлении класса visible делаем страх видимым */
}

.score {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  color: #333;
}
